<mat-divider></mat-divider>
<div class="container">
  <div class="row">
    <div class="col-sm-2 pt-5">
      <img src="../../assets/img/Logo_Marketlia.jpg" alt="logo marketlia">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h3><strong>Más Plusvalia</strong> </h3>
      <ul class="list-unstyled">
        <li>Inmuebles Ecuador</li>
        <li>Publicar un Inmueble</li>
        <li>Ayuda</li>
        <li>Mapa del sitio</li>
        <li>Publicidad</li>
        <li>Noticias</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><strong>Anunciantes</strong></h3>
      <ul class="list-unstyled">
        <li>Inmobiliarias</li>
        <li>Corredores</li>
        <li>Constructores</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><strong>Países</strong> </h3>
      <ul class="list-unstyled">
        <li>Ecuador</li>
        <li>Argentina</li>
        <li>Brasil</li>
        <li>México</li>

      </ul>
    </div>
    <div class="col-sm-3">
      <h3><strong>Sígenos</strong></h3>
      <ul class="list-unstyled">
        <li>
          <span class="material-icons md-18">facebook</span>
        </li>
        <li><span class="material-icons md-18">twitter</span></li>
      </ul>
    </div>
  </div>

</div>
<mat-divider></mat-divider>
<div class="row bg-light py-3">
  <div class="container d-flex justify-content-evenly">
    <p>© Copyright 2022 marketlia.com</p>
    <p>Términos y condiciones de Uso - Términos y Condiciones de Contratación - Política de privacidad</p>
  </div>
</div>
