<div>
  <h2 class="text-white">Encuentra tu lugar</h2>
</div>
<div class="input-group mb-3">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Departamento</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Casa</a></li>

  </ul>
  <input type="text" class="form-control"  placeholder="Buscar lugares..." aria-label="Text input with dropdown button">
  <button class="btn btn-orange" [routerLink]="['/buscarpubs']">Buscar</button>
</div>
