<div class="row d-flex mt-3">
  <div class="col">
    <input type="search" class="form-control" placeholder="Buscar...">
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Alquilar</option>
      <option value="0">Alquilar</option>
      <option value="1">Comprar</option>
      <option value="2">Temporal</option>
      <option value="3">Traspaso</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Departamento</option>
      <option value="0">Casa</option>
      <option value="1">Departamento</option>
      <option value="2">Edificio</option>
      <option value="3">Edificio</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Habitaciones</option>
      <option value="0">Una</option>
      <option value="1">Dos</option>
      <option value="2">Tres</option>
      <option value="3">Mas de tres...</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Precio</option>
      <option value="0">Mas de 100.000</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select bg-orange text-white" aria-label="Default select example">
      <option selected>Mas filtros</option>
      <option value="0">Número de baños</option>
    </select>
  </div>
</div>
